body {
    background: #43c9ce;
    background: (45deg, #185aad, #43cea2);
    color: #ffffff;
    margin: 0;
    width: auto;
}
*{
    font-size: 2vh;
}
.main {
    display: flex;
    align-items: center;
}

.boxmain {
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: center;
}

.box {
    border-radius: 25px;
    border: black solid 2px;
    margin: 2rem;
    width: auto;
}

.status {
    
    color: black;
    display: flex;
    height: auto;
    align-items: flex-start;
    justify-content: center;
}

.box-status {
    
    margin: 1rem;
    width: auto;
}

form button {
    background-color: green;
    border-radius: 4px;
    border-color: none;
}
